<ul>
  <li><%= link_to 'New Quip', new_post_path(:type => 'quip') %></li>
  <li><%= link_to 'New Link', new_post_path(:type => 'link') %></li>
  <li><%= link_to 'New Video', new_post_path(:type => 'video') %></li>
</ul>
